
<div style="display: flex; align-items: stretch; flex-direction: column;">
    <div style="display: flex; flex-wrap: wrap;">
        <comm-portlet-std height="400" classStyle="portlet-patenti" title="Patenti" style="flex: 0 49%; margin: 5px 5px 5px 5px;" icon="license.svg">
            <app-portlet-patenti pnl-content></app-portlet-patenti>
            <button pnl-toolbar [routerLink]="['/vigili/vigile', idVigile, 'licenses']" mat-stroked-button color="primary">{{'VAI_A_PATENTI' | translate}}</button>
        </comm-portlet-std>

        <comm-portlet-std height="400" classStyle="portlet-autorizzazioni" title="Autorizzazioni" style="flex: 0 49%; margin: 5px 5px 5px 5px;" icon="license.svg">
            <app-portlet-autorizzazioni pnl-content></app-portlet-autorizzazioni>
            <button pnl-toolbar [routerLink]="['/vigili/vigile', idVigile, 'certified']" mat-stroked-button color="primary">{{'VAI_A_CERTIFICATI' | translate}}</button>
        </comm-portlet-std>
        <comm-portlet-std height="400" classStyle="portlet-scadenze" title="Scadenze" style="flex: 0 49%; margin: 5px 5px 5px 5px;" icon="stopwatch.svg">
            <app-portlet-scadenze pnl-content></app-portlet-scadenze>
            <button pnl-toolbar [routerLink]="['expiry']" mat-stroked-button color="primary">{{'VAI_A_SCADENZE' | translate}}</button>
        </comm-portlet-std>
        <comm-portlet-std height="400" classStyle="portlet-servizi" title="Servizi" style="flex: 0 49%; margin: 5px 5px 5px 5px;" icon="helmet.svg">
            <app-portlet-servizi pnl-content></app-portlet-servizi>
            <button pnl-toolbar [routerLink]="['/vigili/vigile', idVigile, 'servizi']" mat-stroked-button color="primary">{{'VAI_A_SERVIZI' | translate}}</button>
        </comm-portlet-std>
        <comm-portlet-std height="400" classStyle="portlet-equipaggio" title="Dotazione" style="flex: 0 49%; margin: 5px 5px 5px 5px;" icon="clothes.svg">
            <button pnl-toolbar [routerLink]="['dotazione']"  mat-stroked-button color="primary">{{'EQUIPAGGAMENTO' | translate}}</button>
        </comm-portlet-std>
    </div>
</div>