<div style="height: 100%;">
  <div class="row_layout" style="height: 100%;">
    <ag-grid-angular style="width: 250px; height: 100%;" class="ag-theme-material"
            [rowHeight]="35"
            suppressLoadingOverlay
            [getRowNodeId]="getRowNodeId"
            [rowSelection]="'single'"
            (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
            [columnDefs]="displayedColumns">
    </ag-grid-angular>
    <div style="margin-left: 20px; margin-top: 10px;">
      <app-form-account 
        (callback_salvaRecord) = "onCallback_salvaRecord($event)"
        [idUtente]="idUtente"></app-form-account>
    </div>
  </div>
</div>