<form [formGroup]="myForm">
  <div *ngIf="showBoxSuccess; else recoverPasswordForm">
    <p>Procedura di recupero password avvenuta con successo, Controlla la tua email e torna al login</p>
  </div>
  <ng-template #recoverPasswordForm>
    <h1>{{'RECUPERO_PASSWORD' | translate}}</h1>
    <span>{{'RECUPERO_PASSWORD_INFO' | translate}}</span>
    <input type="text" placeholder="Username" formControlName="username" />
    <input type="text" placeholder="Email" formControlName="email" />
    <button (click)="onClickBtnRecuperaPassword()">{{'RECUPERA_PASSWORD' | translate}}</button>
  </ng-template>
  <button style="margin-top: 8px;" (click)="onClickBtnGoToLogin()">{{'TORNA_AL_LOGIN' | translate}}</button>
</form>
