<form [formGroup]="myForm">
  <h1>{{'CAMBIO_PASSWORD' | translate}}</h1>
  <span>{{'IMMETTI_CREDENZIALI' | translate}}</span>
  <div>
    <input type="password" placeholder="Vecchia password" formControlName="oldPassword" />
    <!--<span class="error">{{'CAMPO_OBBLIGATORIO' | translate:{'field':'vecchia Password'} }}</span>-->
    <span *ngIf="myForm.get('oldPassword').errors?.required" class="error">{{'CAMPO_OBBLIGATORIO' | translate }}</span>
  </div>
  <div>
    <input type="password" placeholder="Nuova password" formControlName="newPassword" />
    <span *ngIf="myForm.get('newPassword').errors?.required" class="error">{{'CAMPO_OBBLIGATORIO' | translate }}</span>
  </div>
  <div>
    <input type="password" placeholder="Conferma nuova password" formControlName="newPasswordCheck" />
    <span *ngIf="myForm.get('newPasswordCheck').errors?.required" class="error">{{'CAMPO_OBBLIGATORIO' | translate }}</span>
    <span *ngIf="myForm?.errors?.pwdNotSame" class="error">{{'PASSWORD_NOT_SAME' | translate }}</span>
  </div>
  <button (click)="onClickBtnChangePwd()">{{'CAMBIA_PASSWORD' | translate}}</button>
</form>